.vs
bin
obj
node_modules
.vscode
.angular
/API/obj
/API/bin
API/obj/Debug/net7.0/API.assets.cache
API/obj/Debug/net7.0/API.assets.cache
API/obj/Debug/net7.0/API.assets.cache
API/obj/Debug/net7.0/project.razor.json
API/obj/Debug